    <!-- #region Jssor Slider Begin -->
    <!-- Generator: Jssor Slider Maker -->
    <!-- Source: http://www.jssor.com -->
    <!-- This code works without jquery library. -->
    <script src="assets/js/jssor.slider-22.2.10.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        {{carousel.id}}_slider_init = function() {

            var {{carousel.id}}_options = {
              $AutoPlay: true,
              $Idle: 0,
              $AutoPlaySteps: 3,
              $SlideDuration: 5000,
              $SlideEasing: $Jease$.$Linear,
              $PauseOnHover: 3,
              $SlideWidth: 162,
              $Cols: 3
            };

            var {{carousel.id}}_slider = new $JssorSlider$("{{carousel.id}}", {{carousel.id}}_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = {{carousel.id}}_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 809);
                    {{carousel.id}}_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <div id="{{carousel.id}}" class="carousel_slider" >
        <!-- Loading Screen -->
        <div class="loader" data-u="loading" >
            <div class="mask"></div>
            <div class="loading"></div>
        </div>
        <div class="slides" data-u="slides">
            {% for item in carousel.data %}
              <div class="item">
                  <a href="{{item.href}}" alt="{{item.title}}">
                      <img data-u="image" src="assets/img/{{item.img}}" alt="{{item.img}}" />
                  </a>
              </div>
        {% endfor %}
        </div>
    </div>
    <script type="text/javascript">{{carousel.id}}_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
