{% extends '::base.html.twig' %}

{% block body %}
    {% include ':Widget:carousel.html.twig'%}
{% endblock body %}

{% block stylesheets %}
    {% stylesheets '@bootstrap_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

